
/* section_seleted_list :선택완료된 옵션결과  */
.section_seleted_list .selected-list{margin-top:12px}
.section_seleted_list .selected-list li{position:relative;margin-top:10px;padding:14px 13px 11px;background:#f9f9fa;border:1px solid #f2f2f2;border-radius:2px;border-bottom:1px solid #bec1c7}
.section_seleted_list .selected-list li .tit{margin-bottom:11px;padding:0 15px 13px 0;border-bottom:1px dotted #e2e2e3;font-size:14px;color:#000;line-height:20px}
.section_seleted_list .selected-list .num-ctrl{display:block;height:25px;position:relative}

.section_seleted_list .selected-list .choose_item{}
.section_seleted_list .selected-list .choose_calc{position:relative;z-index:10; margin-bottom:11px}
.section_seleted_list .selected-list .choose_result{position:relative;padding-right:20px;}
