<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.repository.MenuMapper">

    <select id="getListByCategory" resultType="com.example.domain.Menu">
        select * from menu where category = #{category}
    </select>

    <select id="getMenuByName" resultType="com.example.domain.Menu">
        select * from menu where name = #{name}
    </select>

    <select id="getListByIs_spicy" resultType="com.example.domain.Menu">
        select * from menu where is_spicy = #{is_spicy}
    </select>

    <select id="getListByHow_muchOver" resultType="com.example.domain.Menu">
        select * from menu where price <![CDATA[ > ]]> #{number};
    </select>

    <select id="getListByHow_muchUnder" resultType="com.example.domain.Menu">
        select * from menu where price <![CDATA[ < ]]> #{number};
    </select>

    <select id="getListByIs_hot" resultType="com.example.domain.Menu">
        select * from menu where is_hot = #{is_hot}
    </select>

</mapper>