<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.repository.UserMapper">

    <insert id="createUser">
		insert into user (account_id, password, name, nickname) values(#{account_id}, #{password}, #{name}, #{nickname})
	</insert>

	<select id="getUserByAccountId" resultType="com.example.domain.User">
		 select * from user where account_id = #{account_id}
	</select>
	<select id="getUserById" resultType="com.example.domain.User">
		SELECT * FROM user WHERE id = #{id}
	</select>





</mapper>