<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.repository.UserMapper">

    <insert id="createUser">
		insert into user (account_id, password, name, phone_number, auth)
		values(#{account_id}, #{password}, #{name}, #{phone_number}, #{auth})
	</insert>

	<insert id="createRandomRating">
		insert into user_menu_rating(user_id, menu_id, rating) values(#{user_id}, #{menu_id}, #{rating})
	</insert>

	<select id="getUserById" resultType="com.example.domain.User">
		select * from user where account_id = #{account_id}
	</select>

	<select id="getUserByPhone_number" resultType="com.example.domain.User">
		select * from user where phone_number = #{phone_number}
	</select>
	<insert id="createRatings">
		insert into user_menu_rating(user_id, menu_id, rating) values(#{user_id}, #{menu_id}, #{rating})
	</insert>

	<select id="getRecentUserId" resultType="_long">
		select user_id from user_menu_rating order by user_id desc limit 1;
	</select>

	<insert id="createPayment">
		insert into payment (user_id, menu_id, menu_count, total_price)
		values(#{user_id}, #{menu_id}, #{menu_count}, #{total_price})
	</insert>

	<insert id="createRating">
		insert into user_menu_rating(user_id, menu_id, rating) values(#{user_id}, #{menu_id}, #{rating})
	</insert>









</mapper>